.modal_pokemon {
    background-color: #46d1b1;
    border-radius: 1rem;
    display: none;
    position: absolute;
    z-index: 4;
    margin: 0;
   
}

.botoes {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.detalhes_pokemon {
    display: block;
    padding-top: .20rem;
}

.detalhes_pokemon .name_pokemon{
    padding-left: 1rem;
    padding-right: 1rem;
}
.detalhes_pokemon .numero_pokemon{
 float: right;
 margin-right: 1rem;
 padding-top: 20px;
 color: white;
 font-weight: bold;

}
.detalhes_pokemon ul {
  display: flex;
  list-style: none;
  margin-left: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.detalhes_pokemon ul li {
 margin: 0.3rem;
 padding: 0.4rem;
}

.detalhes_pokemon img {
    position: relative;
    top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name_pokemon {
    padding: 0.25rem;
    margin: 0.25rem;
    font-size: 2rem;
    color: #ffffff;

}
.numero_pokemon {
    justify-content: flex-end;

}
.types_pokemons {
    margin-left: 1rem;
    padding: 0;
}
.types_pokemons li {
        color: black;
        background-color: white;
        padding: .25rem .5rem;
        font-size: .8rem;
        border-radius: 1rem;
        text-align: center;
        opacity: 0.5;
        filter: brightness(1.1);
        text-transform: capitalize;
}
.detalhamento_status {
    padding-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}
.detalhamento_status span {
    font-weight: bold;
}

.detalhamento_status ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0rem;
    margin-left: 0rem;
}
.detalhamento_status ul li{
    color: grey;
    font-size: 1rem;
}

.botoes i {
    color: white;
    font-size: 1.5rem;
}
.botoes i:hover{
    background-color: white;
    border-radius: 50%;
}


.barra_background {
    position: relative;
    background-color: #E8F1F2;
    border-radius: 10px;
    width: 100%;
    height: 1rem;
}

.barra_background .barra_status_1 {
    position: absolute;
    background-color: #d4160f;
    height: 1rem;
    width: 100%;
    border-radius: 10px;
    margin: 2px;
}

.barra_background .barra_status_2 {
    position: absolute;
    background-color: #0fc1d4;
    height: 1rem;
    width: 100%;
    border-radius: 10px;
}
.barra_background .barra_status_3 {
    position: absolute;
    background-color: #0f3dd4;
    height: 1rem;
    width: 100%;
    border-radius: 10px;
}
.barra_background .barra_status_4 {
    position: absolute;
    background-color: #0fd430;
    height: 1rem;
    width: 100%;
    border-radius: 10px;
}
.barra_background .barra_status_5 {
    position: absolute;
    background-color: #d1d40f;
    height: 1rem;
    width: 100%;
    border-radius: 10px;
}
.imagem_detalhe_pokemon{
width: 40%;
height: 40%;

}
.lista_caracteristicas li {
 width: 80%;
 display: grid;
 grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 380px) {
    .modal_pokemon {
        width: 100%;
        height: 100%;
        margin: 0px;
        left: 50%;
        top: 0.5rem;
        transform: translateX(-50%);
        transform: translateX(-50%);
    }
}



@media screen and (min-width: 576px) {
    .modal_pokemon {
        width: 576px;
        height: 100%;
        margin: 0px;
        left: 50%;
        top: 0.5rem;
        transform: translateX(-50%);
        transform: translateX(-50%);
    }
}


@media screen and (min-width: 992px) {
    .modal_pokemon {
        width: 576px;
        height: 100%;
        margin: 0px;
        left: 50%;
        top: 0.5rem;
        transform: translateX(-50%);

    }
}
