.fundo_escuro {
    z-index: 1;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    display: none;
    width: 100vw;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

 .fundo_escuro .modal_pokemon {
    border-radius: 1rem;
    position: absolute;
    box-shadow: 0px 0px 8px rgb(105, 104, 104);
    width: 393px;
    height: 851px;
    min-height: 851px;
    min-width: 393px;
    z-index: 5;
}

.botoes {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: linear;
}

.botoes i {
    border-radius: 50%;
    padding: 10px;
}
.botoes i:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.detalhes_pokemon .numero_pokemon{
 float: right;
 margin-right: 1rem;
 padding-top: 20px;
 color: white;
 font-weight: bold;

}
.detalhes_pokemon ul {
  display: flex;
  list-style: none;
  margin-left: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.detalhes_pokemon ul li {
 margin: 0.3rem;
 padding: 0.4rem;
}

.detalhes_pokemon img {
    position: relative;
    top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 10rem;
}

.name_pokemon {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.25rem;
    font-size: 2.3rem;
    color: #ffffff;

}
.numero_pokemon {
    justify-content: flex-end;

}
.types_pokemons {
    margin-left: 1rem;
    padding: 0;
}
.types_pokemons li {
        color: black;
        background-color: white;
        padding: .25rem .5rem;
        font-size: .8rem;
        border-radius: 1rem;
        text-align: center;
        opacity: 0.5;
        filter: brightness(1.1);
        text-transform: capitalize;
}
.detalhamento_status {
    padding-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}
.detalhamento_status span {
    font-weight: bold;
}
.detalhamento_status ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0rem;
    margin-left: 0rem;
}
.detalhamento_status ul li{
    color: grey;
    font-size: 1rem;
    margin: 2.2px;
}
.botoes i {
    color: white;
    font-size: 1.5rem;
}
.barra_background {
    position: relative;
    background-color: #E8F1F2;
    border-radius: 10px;
    width: 100%;
    height: 1rem;
}
.barra_background .barra_status_1 {
    position: absolute;
    background-color: #d4160f;
    height: 1rem;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    margin: 2px;
}
.barra_background .barra_status_2 {
    position: absolute;
    background-color: #0fc1d4;
    height: 1rem;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.barra_background .barra_status_3 {
    position: absolute;
    background-color: #0f3dd4;
    height: 1rem;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.barra_background .barra_status_4 {
    position: absolute;
    background-color: #0fd430;
    height: 1rem;
    width: 100%;
    border-radius: 10px;
    max-width: 100%;
}
.barra_background .barra_status_5 {
    position: absolute;
    background-color: #d1d40f;
    height: 1rem;
    width: 100%;
    border-radius: 10px;
    max-width: 100%;
}
.lista_caracteristicas li {
 width: 100%;
 display: grid;
 grid-template-columns: 1fr 1fr;
 justify-content: left;
}
